.box-content-main{

    height: 100vh;
    padding:2rem;

    .section-home{
        height:90vh;
        background-image:linear-gradient(to right bottom ,rgba($color-terciary,0.8),rgba(#D45B57,0.9)),url(../../img/large-img-home.jpg);
        background-size: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 60% 80%, 32% 95%, 0% 80%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        
        &__title-index-page{
            
            font-size: 6rem;
            color:white;
            letter-spacing:4px;

            &.p{
                font-size: 2rem;
                letter-spacing:1px;
                width:70%;
                text-align: center;
            }

            &__link{
                font-size: 2rem;
                padding:2rem;
                background-color:$color-white;
                color:$color-grey-dark;
                border-radius:5px;
                text-decoration: none;
                transition: all 0.4s;

                &:hover{
                    box-shadow: 0 2.5rem 4rem rgba($color-black,0.4);
                    transform: translateY(-2px);

                }

                &:active{
                    box-shadow: 0 2.5rem 4rem rgba($color-black,0.6);
                    transform: translateY(0px);

                }

            }

        }
    }

}


