.box{


    &__cont__user{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        gap: 8rem;
        margin-bottom: 10rem;
        

        & .box__title{
            grid-column: 1/3;
            font-size: 3.5rem;
            font-weight: 600;
            color:$color-primary;
            margin-bottom: 4rem;
            letter-spacing:4px;
            text-align: center;
        }

        h2{
            font-size: 2rem;
            font-weight:500;
            color:$color-grey-dark;
        }
        
    }

    &__input--values{
        border: 1px solid $color-grey;
        outline-color: $color-primary-light;
        font-size: 1.4rem;
        padding:1.8rem;
        width: 100%;
        border-radius:5px;
    }

}


.box-box-input h2{
    margin-bottom: 4rem;
}