$color-primary:#EBC62F;
$color-primary-light:#DEF625;
$color-primary-dark:#D69915;
$color-white:#fff;
$color-black:#000;
$color-grey:#aaaaaa;
$color-secondary:#00089E;
$color-terciary:#bc6957;
$color-grey-dark:#505050;